<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ description }}</title>
    <link rel="stylesheet" href="./assets/stylesheets/style.css">
</head>
<body>
    <div class="crepido">
        {% for board in boards %}
            <div class="crepido__board">
                <div class="crepido__board__header">
                    <a href="#" class="crepido__avatar">
                        <img src="{{ board.attributes.avatar }}" />
                    </a>
                    <h3 class="crepido__name">{{ board.attributes.name }}</h3>
                </div>
                {{ board.body|safe }}
            </div>
        {% endfor %}
    </div>
</body>
</html>
