// Crepido
//------------------------------------------------------------------------------
.crepido {
  display: table;
  margin: 20px auto;

  .crepido__board {
    width: 300px;
    float: left;
  }
  .crepido__board + .crepido__board {
    margin-left: 40px;
  }
}

.crepido__board__header {
  text-align: center;
  .crepido__picture {
    display: inline-block;
    margin: 0 auto 5px;
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .crepido__name {
    margin: 0 0 20px;
  }
}

.crepido__section__card {
  margin: 0 0 20px;
  background: white;
  overflow: hidden;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  > h1 {
    margin: 0;
    font-size: 1.0em;
    text-align: center;
    padding: 10px 15px;
  }
  > ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
    li {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid #eee;
      border-width: 1px 0;
    }
  }
}